
body li {
  list-style: none;
}

#pcbaFileForm .btn-wrap {
  float: right;
}

.offer_mode_cont {
  margin-bottom: 20px;
}

@media screen and (min-width:1100px) {
  .right-wrap {
    position: absolute;
    top:0px;
    right:0px;
  }
}
