{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/pcbs/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section class="page-header page-header-xs " >
  <div class="container">
  {#
    <h1>{{category.title}}</h1>
  #}
  
    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">{{__.jed.dgettext('common', 'home')}}</a></li>
      <li class="active">{{controller.channel}}</li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <!-- LEFT -->
      <div class="col-lg-9 col-md-9 col-sm-9">
        <!-- CAROUSEL -->
        <div class="owl-carousel buttons-autohide controlls-over margin-bottom-30 radius-4" 
          data-plugin-options='{"singleItem": true, "autoPlay": 6000, "navigation": true, "pagination": true, "transitionStyle":"fade"}'>
          <!-- item -->
          <div>
            <div class="caption-slider-default">
              <div class="display-table">
                <div class="display-table-cell vertical-align-middle">
                  <div class="caption-container text-left">
                    <h2>PCB 在线定制 <strong>省时省心</strong></h2>
                    <p>
                      PCB 制版
                      <br />
                      <a href="/pcbsvr/pcb/calc">自助询价</a> <a href="/pcbsvr/pcb/enquire">人工报价</a>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <img class="img-responsive radius-4" src="/static/pcbs/images/banner1.jpg" width="851" height="255" alt="">
          </div>
          <!-- /item -->

          <!-- item -->
          <div>
            <div class="caption-slider-default">
              <div class="display-table">
                <div class="display-table-cell vertical-align-middle">
                  <div class="caption-container text-left">
                    <h2>PCBA 特殊设计 <strong>低损高效</strong></h2>
                    <p>
                      PCBA 设计
                      <br />
                      <a href="/pcbsvr/pcba/calc">自助询价</a> <a href="/pcbsvr/pcba/enquire">人工报价</a>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <img class="img-responsive radius-4" src="/static/pcbs/images/banner2.jpg" width="851" height="335" alt="">
          </div>
          <!-- /item -->
        </div>
        <!-- /CAROUSEL -->
      </div>

      <!-- RIGHT -->
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="panel panel-default side-nav">
          <div class="panel-heading">
            <h2 class="panel-title text-center">{{__.jed.dgettext('smt', 'pcb')}}</h2>
          </div>
          <div class="panel-body" style="padding: 10px 0 0 10px">
            <ul class="list-group list-group-bordered uppercase nomargin">
              <li class="list-group-item">
                <a href="/pcbsvr/pcb/calc"><i class="fa fa-calculator"></i>{{__.jed.dgettext('smt', 'order')}}</a>
              </li>
              <li class="list-group-item">
                <a href="/pcbsvr/pcb/enquire?type=0"><i class="fa fa-group"></i>{{__.jed.dgettext('smt', 'quote')}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default side-nav">
          <div class="panel-heading text-center">
            <h2 class="panel-title">{{__.jed.dgettext('smt', 'pcba')}}</h2>
          </div>
          <div class="panel-body" style="padding: 10px 0 0 10px">
            <ul class="list-group list-group-bordered uppercase nomargin">
              <li class="list-group-item">
                <a href="/pcbsvr/pcba/calc"><i class="fa fa-calculator"></i>{{__.jed.dgettext('smt', 'order')}}</a>
              </li>
              <li class="list-group-item">
                <a href="/pcbsvr/pcb/enquire?type=1"><i class="fa fa-group"></i>{{__.jed.dgettext('smt', 'quote')}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
          <div class="box-icon-title">
            <i>
              <img class="thumbnail rounded" 
                src="/static/pcbs/images/key1.png"
                style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
            </i>
            <h4 class="nomargin">{{__.jed.dgettext('smt', 'delivery')}}</h4>
          </div>
          <p class="nomargin" style="height: 66px; overflow: hidden">
            PCB单双面板8小时加急 
            <br>
            批量72小时加急
            <br>
            交期保证95%以上
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
          <div class="box-icon-title">
            <i>
              <img class="thumbnail rounded" 
                src="/static/pcbs/images/key2.png" 
                style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
            </i>
            <h4 class="nomargin">{{__.jed.dgettext('smt', 'quality')}}</h4>
          </div>
          <p class="nomargin" style="height: 66px; overflow: hidden">
            批量抽测免费
            <br>
            测试直通率95%以上
            <br>
            XXKB版A级材料
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
          <div class="box-icon-title">
            <i>
              <img class="thumbnail rounded" 
                src="/static/pcbs/images/key3.png" 
                style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
            </i>
            <h4 class="nomargin">{{__.jed.dgettext('smt', 'professional')}}</h4>
          </div>
          <p class="nomargin" style="height: 66px;overflow: hidden">
            资深工程师团队
            <br>
            先进工厂设备及工作环境
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
          <div class="box-icon-title">
            <i>
              <img class="thumbnail rounded" 
                src="/static/pcbs/images/key4.png" 
                style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
            </i>
            <h4 class="nomargin">{{__.jed.dgettext('smt', 'economy')}}</h4>
          </div>
          <p class="nomargin" style="height: 66px; overflow: hidden"></p>
        </div>
      </div>
    </div>

    <div class="row margin-top-20">
      <ul class="nav nav-tabs nav-justified" style="position: relative;background-color: #f1f2f7">
        <li class="active"><a href="#all" data-toggle="tab" class="size-18">全部</a></li>
        <li><a href="#pcb" data-toggle="tab" class="size-18">PCB</a></li>
        <li><a href="#fpc" data-toggle="tab" class="size-18">FPC</a></li>
        <li><a href="#pcba" data-toggle="tab" class="size-18">PCBA</a></li>
        {#
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#dropdown1" tabindex="-1" data-toggle="tab">@fat</a></li>
            <li><a href="#dropdown2" tabindex="-1" data-toggle="tab">@mdo</a></li>
          </ul>
        </li>
        #}
      </ul>
      <div class="panel panel-default" style="margin-top: -5px">
        <div class="tab-content panel-body padding-10">
          <div class="tab-pane fade in active" id="all">
            <div class="row ">
              {% for val in list %}
                <!-- item -->
                  <div class="col-md-3 col-sm-3 ">
                    <div class="item-box margin-bottom-20">
                      <div class="panel panel-default" style="margin-bottom: 0">
                        <div class="panel-body padding-10">
                            <img class="img-responsive" src="{{val.src}}" width="600" height="399" alt="">
                        </div>
                        <div class="panel-footer padding-10 size-14 elipsis" >
                          {{val.title|truncate(16)}}
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- /item -->
              {%endfor%}
            </div>
          </div>
          <div class="tab-pane fade" id="pcb">
            <div class="row ">
              {% for val in pcbList %}
                <div class="col-md-3 col-sm-3 ">
                  <div class="item-box margin-bottom-20">
                    <div class="panel panel-default" style="margin-bottom: 0">
                      <div class="panel-body padding-10">
                          <img class="img-responsive" src="{{val.src}}" width="600" height="399" alt="">
                      </div>
                      <div class="panel-footer padding-10 size-14 elipsis" >
                        {{val.title|truncate(16)}}
                      </div>
                    </div>
                  </div>
                </div>
              {%endfor%}
            </div>
          </div>
          <div class="tab-pane fade" id="fpc">
            <div class="row ">
              {% for val in fpcList %}
                <div class="col-md-3 col-sm-3 ">
                  <div class="item-box margin-bottom-20">
                    <div class="panel panel-default" style="margin-bottom: 0">
                      <div class="panel-body padding-10">
                          <img class="img-responsive" src="{{val.src}}" width="600" height="399" alt="">
                      </div>
                      <div class="panel-footer padding-10 size-14 elipsis" >
                        {{val.title|truncate(16)}}
                      </div>
                    </div>
                  </div>
                </div>
              {%endfor%}
            </div>
          </div>
          <div class="tab-pane fade" id="pcba">
            <div class="row ">
              {% for val in pcbaList %}
                <div class="col-md-3 col-sm-3 ">
                  <div class="item-box margin-bottom-20">
                    <div class="panel panel-default" style="margin-bottom: 0">
                      <div class="panel-body padding-10">
                          <img class="img-responsive" src="{{val.src}}" width="600" height="399" alt="">
                      </div>
                      <div class="panel-footer padding-10 size-14 elipsis" >
                        {{val.title|truncate(16)}}
                      </div>
                    </div>
                  </div>
                </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{%block script%}

{%endblock%}