{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/pcbs/css/index.css" rel="stylesheet" type="text/css" />
<link href="/static/pcbs/css/pcb_calc.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section class="page-header page-header-xs " >
  <div class="container">
  {#
    <h1>{{category.title}}</h1>
  #}
  
    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">{{__.jed.dgettext('common', 'home')}}</a></li>
      <li><a href="/pcbsvr">{{controller.channel}}</a></li>
      <li class="active">{{controller.sub_channel}}</li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<section>
  <div class="container">

    <ol class="pcb_hint">
      <li>{{__.jed.dgettext('smt', 'poh1')}}</li>
      <li>{{__.jed.dgettext('smt', 'poh2')}}</li>
      <li>{{__.jed.dgettext('smt', 'poh3')}}</li>
    </ol>

    <div id="pcb">
      <h3>{{__.jed.dgettext('smt', 'pos1')}}</h3>
      <fieldset>
        <form id="enquiryForm" class="form-horizontal">
          <div class="form-inline form-group">
            <div>
              <label for="boardLength" class="col-sm-2 control-label">板子尺寸长（CM）：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required digits" id="boardLength" name="boardLength" placeholder="请输入0-60">
              </div>
            </div>
            <div>
              <label for="boardWidth" class="col-sm-2 control-label">板子尺寸宽（CM）：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required digits" id="boardWidth" name="boardWidth" placeholder="请输入0-40">
              </div>
            </div>
          </div>
          <div id="boardLayer" class="form-group"></div>
          <div id="boardMaterial" class="form-group"></div>
          <div id="boardThickness" class="form-group"></div>
          <div class="form-group form-inline">
            <label for="boardAmount" class="col-sm-2 control-label">数量：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required digits" id="boardAmount" name="boardAmount" placeholder="请输入0-3000">
            </div>
          </div>
          <div class="form-inline form-group">
            <div id="aluminumOutThickness"></div>
            <div id="aluminumInThickness"></div>
          </div>
          <div class="form-inline form-group">
            <div id="makeupNum"></div>
            <div id="surfacing"></div>
          </div>
          <div class="form-inline form-group">
            <div id="solderMaskColor"></div>
            <div id="charColor"></div>
          </div>
          <div class="form-inline form-group">
            <div>
              <div id="minLineSpace"></div>
              <div id="minAperture"></div>
            </div>
            <span class="col-sm-offset-2 col-sm-4">3mil、4mil可做，请改用人工报价</span>
            <span class="col-sm-offset-2 col-sm-4">最小0.2mm，请改用人工报价</span>
          </div>
          <div id="holeAmount" class="form-group"></div>
          <div id="halfHole" class="form-group"></div>
          <div id="testMethod" class="form-group"></div>
          <div class="form-inline form-group">
            <div id="urgent"></div>
            <div>
              <label for="delivery" class="col-sm-2 control-label">交期：</label>
              <div id="deliveryVal" class="col-sm-4"></div>
              <input type="hidden" id="delivery" name="delivery">
            </div>
          </div>
          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">备注：</label>
            <div class="col-sm-10">
              <textarea id="comment" name="comment" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </fieldset>

      <h3>{{__.jed.dgettext('smt', 'pos2')}}</h3>
      <fieldset>
        <h3>加工详情</h3>
        <table id="machiningDetail" class="table table-bordered"></table>

        <h3>价格明细</h3>
        <table id="priceDetail" class="table table-bordered"></table>
      </fieldset>

      <h3>{{__.jed.dgettext('smt', 'pos3')}}</h3>
      <fieldset>
        <form id="pcbFileForm" class="form-horizontal">
          <div class="form-group form-inline">
            <label for="pcbFile" class="col-sm-2 control-label">PCB文件：</label>
            <div class="col-sm-10">
              <span class="btn btn-default">选择文件</span>
              <span id="pcbFileName"></span>
              <input type="file" class="form-control pcbFile" id="pcbFile" name="pcbFile">
              <p>允许上传文件大小在40M以内，rar、zip格式的文件。</p>
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="contact" class="col-sm-2 control-label">联系人：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required" id="contact" name="contact">
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="mobile" class="col-sm-2 control-label">联系手机：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required mobile" id="mobile" name="mobile">
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="email" class="col-sm-2 control-label">联系邮箱：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required email" id="email" name="email">
            </div>
          </div>

          <div class="address">
            <div class="header clearfix">
              <h3 class="pull-left">收货人信息</h3>
              <label id="addressErr" class="hide error">请选择收货人信息</label>
              <div class="btn-wrap">
                <a class="btn btn-default" href="/account/address" target="_blank">新增收货地址</a>
                <a id="refreshAddress" class="btn btn-default" href="javascript:;">刷新地址</a>
              </div>
            </div>

            <table id="addressList" class="table table-bordered table-striped table-vertical-middle">
              <thead>
                <tr>
                  <th></th>
                  <th>收货人</th>
                  <th>所在地区</th>
                  <th>街道地址</th>
                  <th>邮编</th>
                  <th>手机</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

            <a id="showAllAddress" href="javascript:;"></a>
          </div>

          <div class="express clearfix">
            <h3 class="pull-left">快递公司：</h3>
            <div class="col-sm-10">
              {%for item in express%}
              <label class="radio-inline">
                <input type="radio" name="expressId" id="{{'express' + item.id}}" value="{{item.id}}" {%if item.id == 1%}checked{%endif%}>{{item.name}}
              </label>
              {%endfor%}
            </div>
          </div>

          <div class="invoice">
              <div class="header clearfix">
                <h3 class="pull-left">发票信息</h3>
                <div class="btn-wrap">
                  <a id="" href="/account/invoice/index" target="_blank" class="btn btn-default">新增发票信息</a>
                  <a id="refreshInvoice" class="btn btn-default">刷新发票</a>
                </div>
              </div>

              <label class="radio-inline">
                <input type="radio" name="invoice" id="invoice0" value="1">需要
              </label>
              <label class="radio-inline">
                <input type="radio" name="invoice" id="invoice1" value="0" checked>不需要
              </label>

              <a id="invoiceNotice" class="btn btn-link" href="/pcbsvr/pcba/invoice" data-toggle="ajaxModal">发票须知</a>

              <table id="invoiceList" class="table table-bordered table-striped" style="display: none">
                <thead>
                  <tr>
                    <td></td>
                    <th>发票抬头</th>
                    <th>发票人</th>
                    <th>发票收货地址</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

              <a id="showAllInvoice" href="javascript:;" style="display: none">显示全部发票</a>
            </div>

          <div class="accounts">
            <span class="col-sm-11 text-right">货款：</span><span id="pcbFee" class="col-sm-1 money">0.00</span>
            <span class="col-sm-11 text-right">运费：</span><span id="freight" class="col-sm-1 money">56.00</span>
            <span class="col-sm-11 text-right">税费：</span><span id="tax" class="col-sm-1 money">0.00</span>
            <span class="col-sm-11 text-right">总费用(含税)：</span><span id="totalCost" class="col-sm-1 money">0.00</span>
          </div>
        </form>
      </fieldset>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
          <div class="box-icon-title">
            <i>
              <img class="thumbnail rounded"
                src="/static/pcbs/images/key1.png"
                style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
            </i>
            <h4 class="nomargin">交期保障</h4>
          </div>
          <p class="nomargin" style="height: 66px; overflow: hidden">
            PCB单双面板8小时加急
            <br>
            批量72小时加急
            <br>
            交期保证95%以上
          </p>
        </div>
      </div>
        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded"
                  src="/static/pcbs/images/key2.png"
                  style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">品质保障</h4>
            </div>
            <p class="nomargin" style="height: 66px; overflow: hidden">
              批量抽测免费
              <br>
              测试直通率95%以上
              <br>
              XXKB版A级材料
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded"
                  src="/static/pcbs/images/key3.png"
                  style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">专业团队</h4>
            </div>
            <p class="nomargin" style="height: 66px;overflow: hidden">
              资深工程师团队
              <br>
              先进工厂设备及工作环境
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded"
                  src="/static/pcbs/images/key4.png"
                  style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">经济实惠</h4>
            </div>
            <p class="nomargin" style="height: 66px; overflow: hidden"></p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
{%block script%}
<script src="/static/common/plugins/jquery.fileupload/vendor/jquery.ui.widget.js"></script>
<script src="/static/common/plugins/jquery.fileupload/jquery.fileupload.js"></script>
<script src="/static/common/plugins/jquery.steps-1.1.0/jquery.steps.min.js"></script>
<script src="/static/common/plugins/jquery.fileupload/jquery.fileupload.js"></script>
<script src="/static/common/plugins/form.validate/jquery.validation.min.js"></script>
<script src="/static/common/js/validate.js"></script>
<script src="/static/common/js/fileUpload.js"></script>
<script src="/static/common/plugins/form.validate/localization/messages_zh.min.js"></script>
<script src="/static/pcbs/js/tool.js"></script>
<script src="/static/pcbs/js/pcb_calc.js"></script>
{%endblock%}