{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/pcbs/css/index.css" rel="stylesheet" type="text/css" />
<link href="/static/pcbs/css/pcb_calc.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section class="page-header page-header-xs " >
  <div class="container">
  {#
    <h1>{{category.title}}</h1>
  #}
  
    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">首页</a></li>
      <li><a href="/pcbsvr">{{controller.channel}}</a></li>
      <li class="active">{{controller.sub_channel}}</li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<section>
  <div class="container">

    <ol class="pcb_hint">
      <li>根据您的所需，填写下面相关内容，系统会匹配出相关价格；</li>
      <li>自助询价适用于1-8层，30平米以下的普通硬板报价，其它类型请选择人工报价；</li>
      <li>阻抗、塞孔、厚铜、盲埋孔、高Tg，高CTI等参数不在选项范围内或有特殊工艺要求的，请选择工程师人工报价。</li>
    </ol>

    <div id="pcb">
      <h3>填写所需询价信息</h3>
      <fieldset>
        <form id="enquiryForm" class="form-horizontal">
          <div class="form-inline form-group">
            <div>
              <label for="boardLength" class="col-sm-2 control-label">板子尺寸长（CM）：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required" id="boardLength" name="boardLength" placeholder="请输入0-60">
              </div>
            </div>
            <div>
              <label for="boardWidth" class="col-sm-2 control-label">板子尺寸宽（CM）：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required" id="boardWidth" name="boardWidth" placeholder="请输入0-40">
              </div>
            </div>
          </div>
          <div id="boardLayer" class="form-group"></div>
          <div id="boardMaterial" class="form-group"></div>
          <div id="boardThickness" class="form-group"></div>
          <div class="form-group form-inline">
            <label for="boardAmount" class="col-sm-2 control-label">数量：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required" id="boardAmount" name="boardAmount" placeholder="请输入0-3000">
            </div>
          </div>
          <div class="form-inline form-group">
            <div id="aluminumOutThickness"></div>
            <div id="aluminumInThickness"></div>
          </div>
          <div class="form-inline form-group">
            <div id="makeupNum"></div>
            <div id="surfacing"></div>
          </div>
          <div class="form-inline form-group">
            <div id="solderMaskcolor"></div>
            <div id="charColor"></div>
          </div>
          <div class="form-inline form-group">
            <div>
              <div id="minLineSpace"></div>
              <div id="minAperture"></div>
            </div>
            <span class="col-sm-offset-2 col-sm-4">3mil、4mil可做，请改用人工报价</span>
            <span class="col-sm-offset-2 col-sm-4">最小0.2mm，请改用人工报价</span>
          </div>
          <div id="holeAmount" class="form-group"></div>
          <div id="halfHole" class="form-group"></div>
          <div id="testMethod" class="form-group"></div>
          <div class="form-inline form-group">
            <div id="urgent"></div>
            <div>
              <label for="delivery" class="col-sm-2 control-label">交期：</label>
              <div id="delivery" name="delivery" class="col-sm-4"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">备注：</label>
            <div class="col-sm-10">
              <textarea id="comment" name="comment" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </fieldset>

      <h3>生成PCB报价单</h3>
      <fieldset>
        <h3>加工详情</h3>
        <table id="machiningDetail" class="table table-bordered"></table>

        <h3>价格明细（含税17%）</h3>
        <table id="priceDetail" class="table table-bordered">
          <tr>
            <th>工程费</th><th>板费</th><th>拼版费</th><th>特殊板费</th><th>菲林费</th><th>表面处理费</th><th>测试费</th><th>阻焊颜色费</th><th>字体颜色费</th><th>半孔加工费</th><th>加急费</th><th>其他</th><th>总费</th>
          </tr>
          <tr>
            <td>55.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>0.00</td><td>55.00</td>
          </tr>
        </table>
      </fieldset>

      <h3>上传PCB文件，提交订单</h3>
      <fieldset>
        <form id="pcbFileForm" class="form-horizontal">
          <div class="form-group form-inline">
            <label for="pcbFile" class="col-sm-2 control-label">PCB文件：</label>
            <div class="col-sm-10">
              <span class="btn btn-default">选择文件</span>
              <span id="pcbFileName"></span>
              <input type="file" class="form-control" id="pcbFile" name="pcbFile">
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="contact" class="col-sm-2 control-label">联系人：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required" id="contact" name="contact">
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="contactMobile" class="col-sm-2 control-label">联系手机：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required" id="contactMobile" name="contactMobile">
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="contactEmail" class="col-sm-2 control-label">联系邮箱：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required" id="contactEmail" name="contactEmail">
            </div>
          </div>

          <div class="address">
            <div class="header clearfix">
              <h3 class="pull-left">收货人信息</h3>
              <input type="hidden" class="required" id="addressId" name="addressId">
              <div class="btn-wrap">
                <a class="btn btn-default" href="/account/address">新增收货地址</a>
                <a id="refreshAddress" class="btn btn-default" href="script:;">刷新地址</a>
              </div>
            </div>

            <!--<table id="addressList" class="table table-bordered">-->
              <!--<tr>-->
                <!--<td>姓名</td>-->
                <!--<th>收货地址</th>-->
                <!--<th>联系方式</th>-->
              <!--</tr>-->
            <!--</table>-->

            <table class="table table-bordered table-striped table-vertical-middle">
              <thead>
                <tr>
                  <th >收货人</th>
                  <th>所在地区</th>
                  <th>街道地址</th>
                  <th>邮编</th>
                  <th>手机</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {%for item in list %}
                  <tr>
                    <td >{{item.accept_name}}</td>
                    <td>{{item.province}},{{item.city}},{{item.county}}</td>
                    <td>{{item.addr}}</td>
                    <td>
                      {{item.zip}}
                    </td>
                    <td>
                      {{item.mobile}}
                    </td>
                    <td>
                      {%if item.is_default == 1%}
                        <span class="label label-primary">默认地址 </span>
                      {%else%}
                        <a class="btn btn-default btn-xs ajax-get" href="/account/address/addrisdefault/?id={{item.id}}"><i class="fa fa-check white"></i>设为默认地址 </a>
                      {%endif%}
                    </td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>

            <button>显示全部地址</button>
          </div>

          <div class="express clearfix">
            <h3 class="pull-left">快递公司：</h3>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="express" id="express0" value="联昊通(只送广东省内,免费)" checked>联昊通(只送广东省内,免费)
              </label>
              <label class="radio-inline">
                <input type="radio" name="express" id="express1" value="单面顺丰">顺丰
              </label>
              <label class="radio-inline">
                <input type="radio" name="express" id="express2" value="单面德邦物流(适用批量板)">德邦物流(适用批量板)
              </label>
            </div>
          </div>

          <div class="invoice">
            <div class="header clearfix">
              <h3 class="pull-left">发票信息</h3>
              <div class="btn-wrap">
                <button class="btn btn-default">新增发票信息</button>
                <button class="btn btn-default">刷新发票</button>
              </div>
            </div>

            <label class="radio-inline">
              <input type="radio" name="invoice" id="invoice0" value="需要">需要
            </label>
            <label class="radio-inline">
              <input type="radio" name="invoice" id="invoice1" value="不需要" checked>不需要
            </label>

            <button id="invoiceNotice" class="btn btn-link">发票须知</button>

            <table id="invoiceList" class="table table-bordered">
              <tr>
                <td>发票抬头</td>
                <th>发票人</th>
                <th>发票收货地址</th>
                <th>操作</th>
              </tr>
            </table>

            <button>显示全部发票</button>
          </div>

          <div class="accounts">
            <span class="col-sm-11 text-right">货款：</span><span class="col-sm-1">￥55.00</span>
            <span class="col-sm-11 text-right">运费：</span><span class="col-sm-1">￥0.00</span>
            <span class="col-sm-11 text-right">总费用(含税)：</span><span class="col-sm-1">￥55.00</span>
          </div>
        </form>
      </fieldset>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
          <div class="box-icon-title">
            <i>
              <img class="thumbnail rounded"
                src="/static/pcbs/images/key1.png"
                style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
            </i>
            <h4 class="nomargin">交期保障</h4>
          </div>
          <p class="nomargin" style="height: 66px; overflow: hidden">
            PCB单双面板8小时加急
            <br>
            批量72小时加急
            <br>
            交期保证95%以上
          </p>
        </div>
      </div>
        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded"
                  src="/static/pcbs/images/key2.png"
                  style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">品质保障</h4>
            </div>
            <p class="nomargin" style="height: 66px; overflow: hidden">
              批量抽测免费
              <br>
              测试直通率95%以上
              <br>
              XXKB版A级材料
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded"
                  src="/static/pcbs/images/key3.png"
                  style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">专业团队</h4>
            </div>
            <p class="nomargin" style="height: 66px;overflow: hidden">
              资深工程师团队
              <br>
              先进工厂设备及工作环境
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded"
                  src="/static/pcbs/images/key4.png"
                  style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">经济实惠</h4>
            </div>
            <p class="nomargin" style="height: 66px; overflow: hidden"></p>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
{%block script%}
<script src="/static/common/plugins/jquery.fileupload/vendor/jquery.ui.widget.js"></script>
<script src="/static/common/plugins/jquery.fileupload/jquery.fileupload.js"></script>
<script src="/static/common/plugins/jquery.steps-1.1.0/jquery.steps.min.js"></script>
<script src="/static/common/plugins/jquery.fileupload/jquery.fileupload.js"></script>
<script src="/static/common/plugins/form.validate/jquery.validation.min.js"></script>
<script src="/static/common/plugins/form.validate/localization/messages_zh.min.js"></script>
<script src="/static/common/plugins/require.js"></script>
<script src="/static/pcbs/js/pcb_calc.js"></script>
{%endblock%}