<div id="inotice-modal" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-label="Close" 
        data-dismiss="modal" 
        class="close" 
        type="button">
        <span aria-hidden="true">×</span>
      </button>
      <h4 id="myModalLabel" class="modal-title">发票须知</h4>
    </div>
      <div class="modal-body wrapper-lg">
        <div class="layui-layer-content" style="font-size: 12px">
          <div class="fpxz_main">
            <div class="fpxz_main_title">
              <h4 class="margin-bottom-0">请选择你需要的发票类型</h4>
            </div>
            <div class="fpxz_main_content">
              <h4 class="margin-bottom-0">重要注意事项：</h4>
              <div class="fpxz_main_center">
                <p>一、根据国税规定，从2016年1月16日起，融创商城发票开具将作相应调整。</p>
                <p>二、融创商城可以开两种类型的增值税发票：</p>
                <p><b>1、增值税专用发票，</b>可以抵扣，不能随订单发出：</p>
                <p style="text-indent:24px;"> 具体说明：  </p>
                <p style="text-indent:24px;"><b>（1）开票时间： </b> 每月15日至25日</p>
                <p style="text-indent:24px;"><b>（2）开票规则： </b> 开票时间内开具当月15日前已发货订单累计总金额发票，15日及之后的订单货款顺延到下个月累计开票。</p>
                <p style="text-indent:24px; font-weight:bold; color:#f00;">注意：融创商城在每月开票时间内统一开具并单独寄出（即发票不能长时间无限制积累再开票）</p>
                <p style="text-indent:24px;">
                  <b>（3）发票运费：</b>专用发票单独寄出，货款不足 
                  <strong style="color:#f00;">500</strong>元的，邮寄发票费用由客户承担，运费到付；开票货款满
                  <strong style="color: red;">500</strong>元，邮寄发票费用由融创商城承担，运费寄付。</p>
                <p style="text-indent:24px;">
                  <b>（4）发票须知增加：</b>单张订单不满 <strong style="color:#f00;">500</strong>
                  元的，用户可在多个订单累计满 
                  <strong style="color:#f00;">500</strong> 元后，进入个人中心‘我的发票’申请累计开票；
                </p>
                <p><b> 2、增值税普通发票，</b>不能抵扣，随订单发出：</p>
                <p style="text-indent:24px;"> 具体说明：普通发票会随您的订单一起发货，绑定一起发货的订单发票统一开在一起，如果有特殊的开票方式（分开开票），请务必在订单中备注。</p> 
              </div>
            </div>
            <div class="fpxz_main_foot">
            <div class="fpxz_main_variety">
              <p>开票种类：  </p>
            </div>
            <div class="fpxz_main-zzfp">
              <!-- <input type="text" value="选择17%增值税专用发票(一般纳税人公司) "> -->
              <span>选择17%增值税专用发票(一般纳税人公司)</span>
              <p>（不随元器件一起发货）</p>
            </div>
            <div class="fpxz_main-zzfp">
              <!-- <input type="text" value="选择17%增值税普通发票(不可抵扣)"> -->
              <span>选择17%增值税普通发票(不可抵扣)</span>
              <p>（随元器件一起发货）</p>
            </div>
            <div class="clear"></div>
            <div class="fpxz_main_address">出票单位：融创芯城</div>
            <div class="fpxz_main_phone">
              联系电话：<b>400 863 0066</b>
              QQ:<a id="QQ_contact_tax" style="cursor: pointer;" title=" QQ联系我们 ">948829064 </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%block script%}
  <script src="/static/common/plugins/require.js"></script>
  <script src="/static/account/js/notice_modal.js"></script>
{%endblock%}
