<div id="inotice-modal" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-label="Close" 
        data-dismiss="modal" 
        class="close" 
        type="button">
        <span aria-hidden="true">×</span>
      </button>
      <h4 id="myModalLabel" class="modal-title">发票须知</h4>
    </div>
      <div class="modal-body wrapper-lg">
        <div class="layui-layer-content" style="font-size: 12px">
          <div class="fpxz_main">
            <div class="fpxz_main_title">
              <h4 class="margin-bottom-0">重要注意事项：</h4>
            </div>
            <div class="fpxz_main_content">
              <p style="font-weight: bold; margin-bottom: 5px; font-size: 14px;">
                助芯通PCBA一站式平台，可以开具增值税专用发票，可以抵扣，税率16%。
              </p>
              <p style="margin-bottom: 5px; margin-left: 12px;">
                <span style="margin-right: 6px; font-weight: bold;">(1)</span>
                <strong>开票时间：</strong>
                每月15日至25日
              </p>
              <p style="margin-bottom: 5px; margin-left: 12px;">
                <span style="margin-right: 6px; font-weight: bold;">(2)</span>
                <strong>开票规则：</strong>
                开票时间内开具当月15日前已发货订单累计总金额发票，15日及之后的订单货款顺延到下个月累计开票。单张订单不满
                <em style="font-style: normal; color: red; font-weight: bold;">500</em>
                元的，用户可在多个订单累计满
                <em style="font-style: normal; color: red; font-weight: bold;">500</em>
                元后，再申请开具。
              </p>
              <p style="margin-bottom: 5px; margin-left: 12px;">
                <span style="margin-right: 6px; font-weight: bold;">(3)</span>
                <strong>发票须知：</strong>
                按照税务局要求据实开具。
              </p>
              <p>
                联系电话：<strong>400 920 5532</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%block script%}
  <script src="/static/common/plugins/require.js"></script>
  <script src="/static/account/js/notice_modal.js"></script>
{%endblock%}
