{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/pcbs/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{# <section class="page-header page-header-xs " >
  <div class="container">
    <h1>{{category.title}}</h1>
  
    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">首页</a></li>
      <li><a href="/pcbsvr">{{controller.channel}}</a></li>
      <li class="active">{{controller.sub_channel}}</li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section> #}
<section>
  <div class="container">

    <p>任何PCB加工需求，只需上传资料生成询价单，报价工程师将一对一为您提供报价服务。</p>

    <form id="pcbFileForm" class="form-horizontal">
      <div class="form-group">
        <label for="pcbFile" class="col-sm-2 control-label">PCBA文件：</label>
        <div class="col-sm-10">
          <span class="btn btn-default">选择文件</span>
          <span id="pcbFileName"></span>
          <input type="file" class="form-control pcbFile" id="pcbFile" name="pcbFile">
          <p>允许上传文件大小在40M以内，rar、zip格式的文件。</p>
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="boardAmount" class="col-sm-2 control-label">板子数量（PCS）：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control required" title="请输入板子数量" id="boardAmount" name="boardAmount">
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="delivery" class="col-sm-2 control-label">交期（天）：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control required" title="请输入交期" id="delivery" name="delivery">
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="col-sm-2 control-label">备注：</label>
        <div class="col-sm-6">
          <textarea id="comment" name="comment" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="contact" class="col-sm-2 control-label">联系人：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control required" title="请输入联系人" id="contact" name="contact">
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="contactMobile" class="col-sm-2 control-label">联系手机：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control required mobile" title="请输入手机号" id="mobile" name="mobile">
        </div>
      </div>
      <div class="form-group form-inline">
        <label for="contactEmail" class="col-sm-2 control-label">联系邮箱：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control required" title="请输入邮箱" id="email" name="email">
        </div>
      </div>
    </form>

    <button id="generateOrder" class="btn btn-default center-block">生成询价单</button>
    <div class="row">
      <div class="col-md-3">
        <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
          <div class="box-icon-title">
            <i>
              <img class="thumbnail rounded" 
                src="/static/pcbs/images/key1.png"
                style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
            </i>
            <h4 class="nomargin">交期保障</h4>
          </div>
          <p class="nomargin" style="height: 66px; overflow: hidden">
            PCB单双面板8小时加急 
            <br>
            批量72小时加急
            <br>
            交期保证95%以上
          </p>
        </div>
      </div>
        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded" 
                  src="/static/pcbs/images/key2.png" 
                  style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">品质保障</h4>
            </div>
            <p class="nomargin" style="height: 66px; overflow: hidden">
              批量抽测免费
              <br>
              测试直通率95%以上
              <br>
              XXKB版A级材料
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded" 
                  src="/static/pcbs/images/key3.png" 
                  style="width: 65px;height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">专业团队</h4>
            </div>
            <p class="nomargin" style="height: 66px;overflow: hidden">
              资深工程师团队
              <br>
              先进工厂设备及工作环境
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content" style="padding-top: 35px">
            <div class="box-icon-title">
              <i>
                <img class="thumbnail rounded" 
                  src="/static/pcbs/images/key4.png" 
                  style="width: 65px; height: 65px; margin-top: -1px; margin-left: -1px">
              </i>
              <h4 class="nomargin">经济实惠</h4>
            </div>
            <p class="nomargin" style="height: 66px; overflow: hidden"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{%block script%}
<script src="/static/common/plugins/jquery.fileupload/vendor/jquery.ui.widget.js"></script>
<script src="/static/common/plugins/jquery.fileupload/jquery.fileupload.js"></script>
<script src="/static/common/plugins/form.validate/jquery.validation.min.js"></script>
<script src="/static/common/js/validate.js"></script>
<script src="/static/common/plugins/form.validate/localization/messages_zh.min.js"></script>
<script src="/static/pcbs/js/pcb_enquire.js"></script>
{%endblock%}