{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/pcbs/css/index.css" rel="stylesheet" type="text/css" />
<link href="/static/pcbas/css/pcba_calc.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section class="page-header page-header-xs " >
  <div class="container">
  {#
    <h1>{{category.title}}</h1>
  #}
  
    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">{{__.jed.dgettext('common', 'home')}}</a></li>
      <li><a href="/pcbsvr">{{controller.channel}}</a></li>
      <li class="active">{{controller.sub_channel}}</li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section>
<section>
  <input id="locale" style="display: none" value="{{controller.$locale}}">
  <div class="container">
    <div class="offer_mode_cont">
      <div class="introduce">
        <ul style="border-bottom: 1px dashed #ccc; padding-left: 5px;" class="padding-bottom-10">
          <li>{{__.jed.dgettext('smt', 'paoh1')}}</li>
          <li>{{__.jed.dgettext('smt', 'paoh2')}}</li>
          <li>{{__.jed.dgettext('smt', 'paoh3')}}</li>
          <li>{{__.jed.dgettext('smt', 'paoh4')}}</li>
        </ul>
      </div>
      <div id="pcba">
        <h3>{{__.jed.dgettext('smt', 'paos1')}}</h3>
        <fieldset>
          <form id="enquiryForm" class="form-horizontal">
            <div class="form-group">
              <div>
                <label for="pointChip" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paChipPoint')}}：</label>
                <div class="col-sm-4"> 
                  <input type="text" class="form-control required digits" title="{{__.jed.dgettext('smt', 'paChipPointError')}}" id="pointChip" name="pointChip" placeholder="{{__.jed.dgettext('common', 'placeholder')}}">
                  <span style="display:block;font-size:12px;width:330px;">{{__.jed.dgettext('smt', 'paChipPointHint')}}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="pointIc" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paIcPoint')}}：</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control required digits" title="{{__.jed.dgettext('smt', 'paIcPointError')}}" id="pointIc" name="pointIc" placeholder="{{__.jed.dgettext('common', 'placeholder')}}">
                  <span style="display:block;font-size:12px;">{{__.jed.dgettext('smt', 'paicPointHint')}}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="pointBga" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paBgaPoint')}}：</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control required digits" title="{{__.jed.dgettext('smt', 'paBgaPointError')}}" id="pointBga" name="pointBga" placeholder="{{__.jed.dgettext('common', 'placeholder')}}">
                  <span style="display:block;font-size:12px;">{{__.jed.dgettext('smt', 'paBgaPointHint')}}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="pointDip" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paDipPoint')}}</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control required" title="{{__.jed.dgettext('smt', 'paDipPointError')}}" id="pointDip" name="pointDip" placeholder="{{__.jed.dgettext('common', 'placeholder')}}">
                  <span style="display:block;font-size:12px;">{{__.jed.dgettext('smt', 'paDipPointHint')}}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="plateSize" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paMeshSize')}}：</label>
              <div class="col-sm-4">
                <select name="plateSize" id="plateSize" class="form-control required">
                  <option value="1" selected="selected">300*400mm</option>
                  <option value="2">370*470mm</option>
                  <option value="3" selected="selected">420*520mm</option>
                  <option value="4">550*650mm</option>
                  <option value="5">400*600mm</option>
                  <option value="6">400*800mm</option>
                  <option value="7">400*1200mm</option>
                  <option value="8">400*1400mm</option>
                </select>
                <span style="display:block;font-size:12px;width:330px;">
                  {{__.jed.dgettext('smt', 'paMeshSizeHint')}}
                </span>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="boardNumber" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paOrderQuantity')}}：</label>
                <div class="col-sm-4">
                  <input type="text" title="{{__.jed.dgettext('smt', 'paOrderQuantityError')}}" class="form-control required digits" id="boardNumber" name="boardNumber" placeholder="{{__.jed.dgettext('common', 'placeholder')}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="deliveryDate" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paDelivery')}}：</label>
                <div class="col-sm-4">
                  <!-- <input type="text" class="form-control required" id="DeliveryDate" name="DeliveryDate" placeholder="请输入">
                  <span id="spanDeliveryDate"> 0 天 </span> -->
                  <span style="display:block;font-size:12px;width:330px;">
                    {{__.jed.dgettext('smt', 'paDeliveryHint')}}
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="comment" class="col-sm-2 control-label">{{__.jed.dgettext('smt', 'paRemark')}}：</label>
                <div class="col-sm-4">
                  <textarea type="text" cols="45" rows="7" class="form-control required" id="comment" name="comment" title="{{__.jed.dgettext('smt', 'paRemarkError')}}" placeholder="{{__.jed.dgettext('common', 'placeholder')}}"> </textarea>
                </div>
              </div>
            </div>
          </form>
          <!-- <div style="position:relative"> -->
          <ul class="margin-top-30 margin-right-50 right-wrap" style="width:450px;border:1px solid #ddd; !important;">
            <li style="margin:0px !important;">
              <span style="color:red;background:#dedede;display:block;padding:5px 10px;">{{__.jed.dgettext('smt', 'pacdTitle')}}</span>
              <ul style="padding:0px 10px;">
                <li>1. {{__.jed.dgettext('smt', 'pacd1')}}</li>
                <li>2. {{__.jed.dgettext('smt', 'pacd2')}}</li>
                <li>3. {{__.jed.dgettext('smt', 'pacd3')}}</li>
                <li>4. {{__.jed.dgettext('smt', 'pacd4')}}</li>
                <li>5. {{__.jed.dgettext('smt', 'pacd5')}}</li>
                <li>6. {{__.jed.dgettext('smt', 'pacd6')}}</li>
              </ul>
            </li>
            <li>
              <span style="color:red;background:#dedede;display:block;padding:5px 10px;">{{__.jed.dgettext('smt', 'parmcTitle')}}</span>
              <ul style="padding: 0px 10px;">
                <li>1. {{__.jed.dgettext('smt', 'parmc1')}}</li>
                <li>
                  <span style="padding: 0px">2. {{__.jed.dgettext('smt', 'parmc2')}}</span>
                  <ul style="padding: 0px 10px;">
                    <li>2-1. {{__.jed.dgettext('smt', 'parmc2_1')}}</li>
                    <li>2-2. {{__.jed.dgettext('smt', 'parmc2_2')}}</li>
                    <li>2-3. {{__.jed.dgettext('smt', 'parmc2_3')}}</li>
                    <li>2-4. {{__.jed.dgettext('smt', 'parmc2_4')}}</li>
                  </ul>
                </li>
                <li>3. {{__.jed.dgettext('smt', 'parmc3')}}</li>
                <li>4. {{__.jed.dgettext('smt', 'parmc4')}}</li>
                <li>5. {{__.jed.dgettext('smt', 'parmc5')}}</li>
              </ul>
            </li>
          </ul>
          <!-- </div> -->
        </fieldset>
        <h3>{{__.jed.dgettext('smt', 'paos2')}}</h3>
        <fieldset>
          <div class="machining">
            <div class="machining_top"><h3>加工详情</h3></div>
              <div>
                <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0" style="width:650px;">
                  <tbody>
                    <tr>
                      <td style="text-align: right; color: #999">CHIP点数：</td>
                      <td id="spointChip"></td>
                      <td style="text-align: right; color: #999">BGA点数：</td>
                      <td id="spointBga"></td>
                    </tr>
                    <tr>
                      <td style="text-align: right; color: #999">IC点数：</td>
                      <td id="spointIc"></td>
                      <td style="text-align: right; color: #999">DIP脚数：</td>
                      <td id="spointDip"></td>
                    </tr>
                    <tr>
                      <td style="text-align: right; color: #999">钢网尺寸：</td>
                      <td id="splateSize"></td>
                      <td style="text-align: right; color: #999">订单数量：</td>
                      <td id="sboardNumber"></td>
                    </tr>
                    <tr>
                      <td style="text-align: right; color: #999">交期：</td>
                      <td id="sdeliveryDate">2-3天</td>
                      <td style="text-align:right"></td>
                      <td id=""></td>
                    </tr>
                    <tr>
                      <td style="text-align:right;color:#999">备注：</td>
                      <td colspan="3" id="scomment" style="text-align:left"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div class="price_list">
            <div class="price_list_top"><h3>价格明细</h3></div>
            <div>
              <table class="table table-bordered" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <th>组装费</th>                         
                    <th>钢网费</th>    
                    <th>其他</th>
                    <th>总费</th>
                  </tr>
                  <tr>
                    <td id="sprojceFee"></td>              
                    <td id="splatesizeFee"></td>                
                    <td id="sotherFee"></td>
                    <td id="stotalFee"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </fieldset>
        <h3>{{__.jed.dgettext('smt', 'paos3')}}</h3>
        <fieldset>
          <form id="pcbaFileForm" class="form-horizontal">
            <div class="form-group form-inline">
              <label for="pcbaFile" class="col-sm-2 control-label">PCBA文件：</label>
              <div class="col-sm-10">
                <span class="btn btn-default">选择文件</span>
                <span id="pcbaFileName"></span>
                <input type="file" class="form-control" id="pcbaFile" name="pcbaFile">
                <p>允许上传文件大小在40M以内，rar、zip、xlsx、xls格式的文件。</p>
              </div>
            </div>
            <div class="form-group form-inline">
              <label for="contact" class="col-sm-2 control-label">联系人：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required" title="请输入联系人姓名" id="contact" name="contact">
              </div>
            </div>
            <div class="form-group form-inline">
              <label for="mobile" class="col-sm-2 control-label">联系手机：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required" title="请输入正确的手机号码" id="mobile" name="mobile">
              </div>
            </div>
            <div class="form-group form-inline">
              <label for="email" class="col-sm-2 control-label">联系邮箱：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control required email" title="请输入有效的电子邮箱" id="email" name="email">
              </div>
            </div>

            <div class="address">
              <div class="header clearfix">
                <h3 class="pull-left">收货人信息</h3>
                <!-- <input type="hidden" class="required" id="addressId" name="addressId"> -->
                <div class="btn-wrap">
                  <a class="btn btn-default" href="/account/address/index" target="_blank">新增收货地址</a>
                  <a id="refreshAddress" class="btn btn-default" href="javascript:;">刷新地址</a>
                </div>
              </div>

              <table id="addressList" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>姓名</th>
                    <th>所在地区</th>
                    <th>街道地址</th>
                    <th>邮编</th>
                    <th>手机</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <a id="showAllAddress" href="javascript:;">显示全部地址</a>
            </div>

            <div class="express clearfix">
              <h3 class="pull-left">快递公司：</h3>
                <!-- <input type="hidden" class="required" id="expressId" name="expressId"> -->
              <div class="col-sm-10">
                <label class="radio-inline">
                  <input type="radio" name="expressId" id="express0" value="1" checked>联昊通(只送广东省内,免费)
                </label>
                <label class="radio-inline">
                  <input type="radio" name="expressId" id="express1" value="2">顺丰
                </label>
                <label class="radio-inline">
                  <input type="radio" name="expressId" id="express2" value="3">德邦物流(适用批量板)
                </label>
              </div>
            </div>

            <div class="invoice">
              <div class="header clearfix">
                <h3 class="pull-left">发票信息</h3>
                <div class="btn-wrap">
                  <a id="" href="/account/invoice/index" target="_blank" class="btn btn-default">新增发票信息</a>
                  <a id="refreshInvoice" class="btn btn-default">刷新发票</a>
                </div>
              </div>

              <label class="radio-inline">
                <input type="radio" name="invoice" id="invoice0" value="1">需要
              </label>
              <label class="radio-inline">
                <input type="radio" name="invoice" id="invoice1" value="0" checked>不需要
              </label>

              <a id="invoiceNotice" class="btn btn-link" href="/pcbsvr/pcba/invoice" data-toggle="ajaxModal">发票须知</a>

              <table id="invoiceList" class="table table-bordered table-striped" style="display: none">
                <thead>
                  <tr>
                    <td></td>
                    <th>发票抬头</th>
                    <th>发票人</th>
                    <th>发票收货地址</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

              <a id="showAllInvoice" href="javascript:;" style="display: none">显示全部发票</a>
            </div>

            <div class="accounts">
              <span class="col-sm-11 text-right">货款：</span><span id="pcbaMoney" class="col-sm-1"></span>
              <span class="col-sm-11 text-right">运费：</span><span class="col-sm-1">￥0.00</span>
              <span class="col-sm-11 text-right">总费用(含税)：</span><span id="pcbaAllmoney" class="col-sm-1"></span>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{%block script%}
  <script src="/static/common/plugins/jquery.fileupload/vendor/jquery.ui.widget.js"></script>
  <script src="/static/common/plugins/jquery.fileupload/jquery.fileupload.js"></script>
  <script src="/static/common/plugins/jquery.steps-1.1.0/jquery.steps.min.js"></script>
  <script src="/static/common/plugins/jquery.fileupload/jquery.fileupload.js"></script>
  <script src="/static/common/plugins/form.validate/jquery.validation.min.js"></script>
  <script src="/static/common/plugins/form.validate/localization/messages_zh.min.js"></script>
  <script src="/static/common/plugins/toastr/toastr.min.js"></script>
  <script src="/static/common/plugins/require.js"></script>
  <script src="/static/pcbas/js/pcba_calc.js"></script>
{%endblock%}