<style>
  .pcb-order-detail .table-bordered {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  .pcb-order-detail .table {
    margin-bottom: 20px !important;
  }
</style>
<div class="pcb-order-detail">
  {% set info = data._pcbInfo.slice(0, 7) %}
  <table class="table table-bordered">
    <tr>
      {% if admin %}
      <td>板子数量（PCS）</td>
      <td>文件</td>
      {% endif %}

      {% for item in info %}
      <td>{{item.label}}</td>
      {% endfor %}
    </tr>
    <tr>
      {% if admin %}
      <td>{{data.pcbInfo.boardAmount}}</td>
      <td>
        <a class="text-success" href="/pcbsvr/pcb/download?uuid={{data.fileUuid}}">{{data.fileUuid | getFileName}}</a>
      </td>
      {% endif %}

      {% for item in info %}
      <td>{{item.value}}</td>
      {% endfor %}
    </tr>
  </table>
  {% set info = data._pcbInfo.slice(7) %}
  <table class="table table-bordered">
    <tr>
      {% for item in info %}
      <td>{{item.label}}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for item in info %}
      <td>{{item.value}}</td>
      {% endfor %}
    </tr>
  </table>
  <p class="extra-info">测试方式：{{data.pcbInfo._testMethod}}</p>
</div>