<div class="col-lg-2 col-md-2 col-sm-4">

  <div class="thumbnail text-center avatar-view hide">
    <!--<img src="/u/avatar" alt="{{controller.user.username}}" style="width: 100%"/>-->
    <h2 class="size-18 margin-top-10 margin-bottom-0">{{controller.user.username}}</h2>
    <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">DEVELOPER</h3>
  </div>

  <!-- completed -->
  <div class="margin-bottom-30 hide">
    <label>88% completed profile</label>
    <div class="progress progress-xxs">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0"
           aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
    </div>
  </div>
  <!-- /completed -->

  <!-- SIDE NAV -->
  <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
    <li class="list-group-item
      {% if ctx.originalUrl == '/account/index' %}active{%endif%}">
      <a href="/account/index"><i class="fa fa-home"></i> 用户主页</a>
    </li>
    <li class="list-group-item list-toggle
      {% if (ctx.originalUrl == '/account/seting' or ctx.originalUrl == '/account/address') %}active{%endif%}"
    >
      <!-- NOTE: "active" to be open on page load -->
      <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1">
        <i class="fa fa-user"></i> 账户管理
      </a>
      <ul id="collapse-1" class="collapse in"><!-- NOTE: "collapse in" to be open on page load -->
        <li>
          <a href="/account/seting" class="{% if ctx.originalUrl == '/account/seting' %}text-danger{%endif%}"><i
              class="fa fa-angle-right"></i> 个人设置
          </a>
        </li>
        <li>
          <a href="/account/address" class="{% if ctx.originalUrl == '/account/address' %}text-danger{%endif%}"><i
              class="fa fa-angle-right"></i> 收货地址
          </a>
        </li>
        <li>
          <a href="/account/invoice" class="{% if ctx.originalUrl == '/account/invoice' %}text-danger{%endif%}"><i
              class="fa fa-angle-right"></i> 发票设置
          </a>
        </li>
        {#
        <li><a href="#"><i class="fa fa-angle-right"></i> 我的优惠券</a></li>
        <li><a href="/account/account" class="{% if ctx.originalUrl == 'account/account' %}text-danger{%endif%}"><i
            class="fa fa-angle-right"></i> 账户金额</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i> 我的积分</a></li>
        #}
      </ul>
    </li>
    <li class="list-group-item list-toggle
      {% if (ctx.originalUrl == '/account/pcb/order' or ctx.originalUrl == '/account/pcb/enquire') %}active{%endif%}">
      <!-- NOTE: "active" to be open on page load -->
      <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-2">
        <i class="fa fa-user"></i> 订单管理</a>
      <ul id="collapse-2" class="collapse in"><!-- NOTE: "collapse in" to be open on page load -->
        <li>
          <a href="/account/order/pcb?type=0" class="{% if ctx.originalUrl == '/account/order/pcb?type=0' %}text-danger{%endif%}"><i
              class="fa fa-angle-right"></i> PCB订单</a></li>
        <li>
          <a href="/account/enquire/pcb?type=0" class="{% if ctx.originalUrl == '/account/enquire/pcb?type=0' %}text-danger{%endif%}"><i
              class="fa fa-angle-right"></i> PCB询价单</a>
        </li>
        <li>
          <a href="/account/order/pcb?type=1" class="{% if ctx.originalUrl == '/account/order/pcb?type=1' %}text-danger{%endif%}"><i
              class="fa fa-angle-right"></i> PCBA订单</a></li>
        <li>
          <a href="/account/enquire/pcb?type=1" class="{% if ctx.originalUrl == '/account/enquire/pcb?type=1' %}text-danger{%endif%}"><i
              class="fa fa-angle-right"></i> PCBA询价单</a>
        </li>
      </ul>
    </li>
    <li class="list-group-item"><a href="/account/auth/logout"><i class="fa fa-sign-out"></i> 退出登录</a></li>
  </ul>
  <!-- /SIDE NAV -->

  {#
  <!-- info -->
  <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
    <div class="row margin-bottom-20">
      <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
        <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">12</h2>
        <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">PROJECTS</h3>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
        <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">34</h2>
        <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">TASKS</h3>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
        <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">32</h2>
        <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">UPLOADS</h3>
      </div>
    </div>
    <!-- /info -->

    <div class="text-muted">
      <h2 class="size-18 text-muted margin-bottom-6"><b>About</b> Felicia Doe</h2>
      <p>Lorem ipsum dolor sit amet diam nonummy nibh dolore.</p>

      <ul class="list-unstyled nomargin">
        <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i> <a
            href="http://www.stepofweb.com">www.stepofweb.com</a></li>
        <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i> <a
            href="http://www.facebook.com/stepofweb">stepofweb</a></li>
        <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i> <a
            href="http://www.twitter.com/stepofweb">@stepofweb</a></li>
      </ul>
    </div>

  </div>
  #}
</div>