{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/home/css/aboutus.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <a class="margin-bottom-20 block thumbnail" href="/" title = "TSPCB" >
      <img class="img-responsive" src="/static/common/images/aboutus1.png" 
        alt="TSPCB" style="height:120px;width:100%">
    </a>
    <div class="aboutus_block">
      <div class="row">
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <h2>{{__.jed.dgettext('common', 'contactInfo')}}</h2>
          <p>China Tel: 400-920-5532</p>
          <p>China Fax: (86)21-5156-4109</p>
          <p>China Address: RM 1105, No.199 Haichuan Rd., Jiading District, Shanghai, China, 201800</p>
          <p>US Address: 32534 Shiela Way, Union City, CA 94587 USA</p>
          <p>US Tel: 510-260-6248</p>
          <p>China Factory: No.25 JiangQiao Rd., JiangQiao Industrial Park, Shanghai, China, 201803</p>
        </div>
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <img class="img-responsive" src="/static/common/images/contactmap.jpg" alt="TSPCB" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{%block script%}
{%endblock%}