{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/home/css/aboutus.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <a class="margin-bottom-20 block thumbnail" href="/" title = "TSPCB" >
      <img class="img-responsive" src="/static/common/images/aboutus1.png" 
        alt="TSPCB" style="height:120px;width:100%">
    </a>
    <div class="aboutus_block">
      <div class="row">
        <!-- <div class="aboutus_content col-lg-8 col-md-8 col-sm-8"> -->
        <div class="aboutus_content">
          <h2>{{__.jed.dgettext('aboutus', 'ppoo')}}</h2>
            <p>{{__.jed.dgettext('aboutus', 'ppoo1')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'ppoo2')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'ppoo3')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'ppoo4')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'ppoo5')}}</p>
        </div>
<!--         <div class="aboutus_content col-lg-4 col-md-4 col-sm-4">
          <img class="img-responsive" src="/static/common/images/aboutus2.jpg" alt="TSPCB" style="width:100%">
        </div> -->
      </div>
    </div>
    <div class="aboutus_block">
      <div class="row">
<!--         <div class="aboutus_content col-lg-4 col-md-4 col-sm-4">
          <img class="img-responsive" src="/static/common/images/aboutus2.jpg" alt="TSPCB" style="width:100%">
        </div> -->
        <!-- <div class="aboutus_content col-lg-8 col-md-8 col-sm-8"> -->
        <div class="aboutus_content">
          <h2>{{__.jed.dgettext('aboutus', 'customize')}}</h2>
            <p>{{__.jed.dgettext('aboutus', 'customize1')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'customize2')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'customize3')}}</p>
        </div>
      </div>
    </div>
    <div class="aboutus_block">
      <div class="row">
        <!-- <div class="aboutus_content col-lg-8 col-md-8 col-sm-8"> -->
        <div class="aboutus_content">
          <h2>{{__.jed.dgettext('aboutus', 'sc')}}</h2>
            <p>{{__.jed.dgettext('aboutus', 'sc1')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'sc2')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'sc3')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'sc4')}}</p>
            <p>{{__.jed.dgettext('aboutus', 'sc5')}}</p>
        </div>
<!--         <div class="aboutus_content col-lg-4 col-md-4 col-sm-4">
          <img class="img-responsive" src="/static/common/images/aboutus2.jpg" alt="TSPCB" style="width:100%">
        </div> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
{%block script%}
{%endblock%}