{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/account/css/register.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{# <section class="page-header page-header-xs">
  <div class="container">
    <h1>{{category.title}}</h1>
  
    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">首页</a></li>
      <li>{{controller.channel}}</li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section> #}
<section>
  <div class="container">
    <form id="register-form" class="sky-form boxed registerpost" action="/account/auth/register" method="post">
      <header>
        <i class="fa fa-users"></i> {{controller.meta_title}}
      </header>

      <fieldset class="nomargin">
        <label class="input margin-bottom-10">
          <i class="ico-append fa fa fa-user"></i>
          <input class="required" type="text" placeholder="用户名" name="username">
          <b class="tooltip tooltip-bottom-right">字母，数字等，用户名唯一</b>
        </label>
        <label class="input margin-bottom-10">
          <i class="ico-append fa fa-envelope"></i>
          <input class="required email" type="email" placeholder="电子邮箱" name="email">
          <b class="tooltip tooltip-bottom-right">user@ect.com</b>
        </label>
        <label class="input margin-bottom-10">
          <i class="ico-append fa fa-mobile"></i>
          <input id="mobile" class="required mobile" type="text" placeholder="手机号码" name="mobile">
          <b class="tooltip tooltip-bottom-right">18688888888</b>
        </label>
        <label class="input margin-bottom-10">
          <i class="ico-append fa fa-lock"></i>
          <input class="required" type="password" minlength="6" placeholder="密码" name="password">
          <b class="tooltip tooltip-bottom-right">不少于6位</b>
        </label>
        <label class="input margin-bottom-10">
          <i class="ico-append fa fa-lock"></i>
          <input class="required" type="password" minlength="6" placeholder="确认密码" name="password2">
          <b class="tooltip tooltip-bottom-right">确认密码</b>
        </label>
        <div class="margin-top-30">
          <label class="checkbox nomargin">
            <input class="checked-agree" type="checkbox" name="clause" checked><i></i>我同意 <a href="#" data-toggle="modal" data-target="#termsModal">网站服务条款</a></label>
          <!-- <label class="checkbox nomargin">
            <input type="checkbox" name="info"><i></i>我想接收新闻和特别优惠信息！</label> -->
        </div>
      </fieldset>

      <div class="row margin-bottom-20">
        <div class="col-md-12">
          <span id="submit-btn" class="btn btn-primary"><i class="fa fa-check"></i> 立即注册</span>
          <button id="real-submit" type="submit" class="ajax-post" target-form="registerpost"></button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
{%block script%}
<script src="/static/common/plugins/form.validate/jquery.validation.min.js"></script>
<script src="/static/common/js/validate.js"></script>
<script src="/static/common/plugins/form.validate/localization/messages_zh.min.js"></script>
<script type="text/javascript">
  $(function ($) {
    $('#submit-btn').click(function (e) {
      var validRes = $('#register-form').valid();
      if (validRes) {
        $('#real-submit').click()
      }
    })
    $('#codeBtn').click(function (e) {
      var mobile = $('#mobile').val()
      $.ajax({
        url: '/account/sms/send',
        type: 'POST',
        dataType: 'json',
        data: {mobile: mobile},
        success: function (data) {
          console.log(data)
        },
        error: function (err) {
          console.log(err)
        }
      })
      return false
    })
  })
</script>
{%endblock%}