{% extends "../common/inc/base.html" %}
{% block content %}
{# <section class="page-header page-header-xs " >
  <div class="container">
    <h1>{{category.title}}</h1>

    <!-- breadcrumbs -->
    <ol class="breadcrumb breadcrumb-inverse">
      <li><a href="/">首页</a></li>
      <li class="active">{{controller.channel}}</li>
    </ol>
    <!-- /breadcrumbs -->
  </div>
</section> #}

<section>
  <div class="container">
    <div class="row">
      <!-- LEFT -->
      {% include "./inc/user_left.html" %}
      <!-- RIGHT -->
      <div class="col-lg-10 col-md-10 col-sm-8">

        <!-- FLIP BOX -->
        <div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
          <div class="front1">
            <div class="box1 noradius">
              <div class="box-icon-title text-center">
                <img src="/u/avatar"  class=" rounded" alt="{{controller.user.username}}" style="width: 65px" />
                <h2>尊敬的会员 <span class="text-danger">{{controller.user.username}}</span>  ，欢迎您！</h2>
              </div>
              <p>最后一次登录：{{controller.user.last_login_time|moment('YYYY-MM-DD HH:mm:ss')}}</p>
            </div>
          </div>

          <div class="back hide">
            <div class="box2 noradius">
              <h4>WHO AM I?</h4>
              <hr />
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
            </div>
          </div>
        </div>
        <!-- /FLIP BOX -->
        <div class="box-light margin-top-20"><!-- .box-light OR .box-dark -->
          <div class="box-inner">
            <ul class="row clearfix testimonial-dotted list-unstyled">
              <li class="col-md-6">
                <div class="testimonial">
                  <figure class="pull-left">
                    <i class="ico-light ico-rounded ico-hover et-calendar"></i>
                  </figure>
                  <div class="testimonial-content">
                    <h5 class="margin-bottom-8">订单交易总金额： </h5>
                    ￥<span class="text-danger">{%if orderTotal %}{{orderTotal|formatCurrency}}{%else%}0.00{%endif%}</span>
                  </div>
                </div>
              </li>
              <li class="col-md-6">
                <div class="testimonial">
                  <figure class="pull-left">
                    <i class="ico-light ico-rounded ico-hover fa fa-hourglass-half"></i>
                  </figure>
                  <div class="testimonial-content">
                    <h5 class="margin-bottom-8">进行中的订单： </h5>
                    <span class="text-danger">{{onOrder}}</span> 笔
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block script %}

{% endblock %}