{% extends "./inc/base.html" %}
{% block content %}
<section class="vbox">
  <header class="header bg-light dk">
    <p>{{controller.meta_title}}</p>
  </header>
  <section class="scrollable wrapper">
    <section class="panel panel-default">
      <form method="post" action="/admin/pcb/update" class="pcb-price-form">
        {% for key, groups in list %}
        <section class="panel">
          <header class="panel-heading">
            {{controller.getPriceLabel(key)}}
          </header>
          <div class="table-responsive">
            <table class="table b-t b-light" id="export-form">
              <thead>
              <tr>
                {% for subKey, value in groups[0] %}
                  {% if subKey === 'id' %}
                  {% elif subKey === 'option' %}
                  {% elif subKey === 'price' %}
                    <th style="width: 200px;">价格</th>
                  {% else %}
                    <th>{{controller.getPriceOption(subKey).label}}</th>
                  {% endif %}
                {% endfor %}
              </tr>
              </thead>
              <tbody>
              {%for group in groups%}
              <tr>
                <input type="hidden" name="id-{{group.id}}" value="{{group.id}}">
                {% for subKey, value in group %}
                {% if subKey === 'id' %}
                  {% elif subKey === 'option' %}
                  {% elif subKey === 'price' %}
                    <td><input type="text" class="form-control form-control-text" name="price-{{group.id}}" value="{{value}}"></td>
                  {% else %}
                    <td>
                      {% if value === -1 %}
                        -
                      {% else %}
                        {{controller.getPriceOption(subKey).value[value]}}
                      {% endif %}
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
              {%endfor%}
              </tbody>
            </table>
          </div>
        </section>
        {% endfor %}
      </form>
      <footer class="panel-footer">
        <div class="row"><div class="col-sm-offset-2"> <button class="btn btn-primary btn-s-md ajax-post" type="submit" target-form="pcb-price-form">确定</button></div></div>
      </footer>
    </section>
  </section>
</section>

{% endblock %}
{% block script %}
{% endblock%}