<div class="footer">
    <div class="inner-center">
        <dl class="footer-list">
            <dt class="footer-list-t">{{__.jed.dgettext('common', 'guide')}}</dt>
            <dd>
                <a href="/guide/terms" title="使用条款和订购条件">{{__.jed.dgettext('common', 'terms')}}</a>
            </dd>
            <dd>
                <a href="/guide/statement" title="免责说明">{{__.jed.dgettext('common', 'statements')}}</a>
            </dd>
            <dd>
                <a href="/guide/security" title="隐私声明">{{__.jed.dgettext('common', 'security')}}</a>
            </dd>
        </dl>
        <dl class="footer-list">
            <dt class="footer-list-t">{{__.jed.dgettext('aboutus', 'title')}}</dt>
            <dd>
                <a href="/aboutus/profile" title="公司介绍">{{__.jed.dgettext('aboutus', 'introduction')}}</a>
            </dd>
            <dd>
                <a href="/aboutus/business" title="核心业务">{{__.jed.dgettext('aboutus', 'business')}}</a>
            </dd>
            <dd>
                <a href="/guide/operation" title="网站运营">{{__.jed.dgettext('common', 'operation')}}</a>
            </dd>
        </dl>
        <dl class="footer-list m-r-0">
            <dt class="footer-list-t">{{__.jed.dgettext('common', 'contactInfo')}}</dt>
            <dd>
                <i style="font-size: 15px" class="fa fa-map-marker"></i>
                {{__.jed.dgettext('common', 'address')}}
            </dd>
            <dd>
                <i class="fa fa-phone"></i>
                {{__.jed.dgettext('common', 'phone')}}
            </dd>
            <dd>
                <i class="fa fa-envelope"></i>
                <a href="mailto:admin.ts@tspcba.com">admin.ts@tspcba.com</a>
            </dd>
        </dl>
    </div>
    <div class="inner-center">
        <div class="footer-copyright">
            &copy; 2015 - <script>document.write(new Date().getFullYear())</script> {{__.jed.dgettext('common', 'company')}}  {{__.jed.dgettext('common', 'copyright')}}
        </div>
        <div class="footer-icp-info">
            <a href="http://www.beian.miit.gov.cn">
                <img src="/static/common/images/ICP.png">
                <span>沪ICP备18007253号-1</span>
            </a>
        </div>
    </div>
</div>