<div class="footer">
    <div class="inner-center">
        <dl class="footer-list">
            <dt class="footer-list-t">公司介绍</dt>
            <dd><a href="" title="关于我们">关于我们</a>
            </dd>
            <dd><a href="" title="核心业务">核心业务</a>
            </dd>
        </dl>
        <dl class="footer-list">
            <dt class="footer-list-t">隐私条款</dt>
            <dd><a href="" title="用户协议">用户协议</a></dd>
        </dl>
        <dl class="footer-list m-r-0">
            <dt class="footer-list-t">联系方式</dt>
            <dd>
                <i style="font-size: 15px" class="fa fa-map-marker"></i>
                {{__.jed.dgettext('common', 'address')}}
            </dd>
            <dd>
                <i class="fa fa-phone"></i>
                {{__.jed.dgettext('common', 'phone')}}
            </dd>
            <dd>
                <i class="fa fa-envelope"></i>
                <a href="mailto:test@outlook.com">{{__.jed.dgettext('common', 'email')}}</a>
            </dd>
        </dl>
    </div>
    <div class="inner-center">
        <div class="footer-copyright">
            &copy; 2015 - <script>document.write(new Date().getFullYear())</script> {{__.jed.dgettext('common', 'company')}}  {{__.jed.dgettext('common', 'copyright')}} 
        </div>
    </div>
</div>