<div id="header" class="sticky clearfix header-sm ">  
  <header id="topNav">
    <div class="container">
      <button class="btn btn-mobile" id="sidepanel_btn" >
        <i class="fa fa-bars"></i>
      </button>

      <ul class="pull-right nav nav-pills nav-second-main">
        <li class="search">
          <a href="javascript:;">
            <i class="fa fa-search"></i>
          </a>
          <div class="search-box">
            <form action="/search" method="get">
              <div class="input-group">
                <input type="text" name="q" placeholder="Search" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">搜索</button>
                </span>
              </div>
            </form>
          </div>
        </li>
        <!-- /SEARCH -->
        <!-- QUICK SHOP CART -->
        <li class="quick-cart">
          <a href="#">
            <span class="badge badge-aqua btn-xs badge-corner" id="badge-corner">{% if controller.cart.num %}{{controller.cart.num}}{% endif %}</span>
            <i class="fa fa-shopping-cart"></i>
          </a>

          <div class="quick-cart-box">
            <h4>购物车</h4>
            <div class="quick-cart-wrapper">
              {% if controller.cart.data|length > 0 %}
              {% for val in controller.cart.data %}
              <a href="{{val.url}}">
                <img src="{{val.pic}}" width="45" height="45" alt="" />
                <h6><span>{{val.qty}}x</span> {{val.title}}</h6>
                <small>￥{{val.price|formatCurrency}} 
                  {% if val.type %}
                  <span class="size-11 text-muted">[{{val.type}}]</span>
                  {% endif %}
                </small>
              </a>
              {% endfor %}
              {% else %}
              <a class="text-center" href="#">
                <h6>暂无商品</h6>
              </a>
            </div>

            <!-- quick cart footer -->
            <div class="quick-cart-footer clearfix">
              <a href="/center/cart" class="btn btn-primary btn-xs pull-right">去购物车结算</a>
              <span class="pull-left">
                <strong>合计: </strong>
                <total>￥{% if controller.cart.total %}{{controller.cart.total|formatCurrency}}{%else%}0{%endif%}</total>
              </span>
            </div>
            <!-- /quick cart footer -->
          </div>
        </li>
        <!-- /QUICK SHOP CART -->
        {% endif %}
      </ul>
      <!-- /BUTTONS -->


      <!-- Logo -->
      <a class="logo pull-left" href="/" style="font-size: 20px;">
        <img src="/static/common/images/logo.png" style="margin-right: 16px;" alt="" />
        E i C a T
      </a>

      <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
        <nav class="nav-main">
          <ul id="topMain" class="nav nav-pills nav-main">
            {% channel data='channels'%}
            {% for channel in channels%}
            {% if channel.status === 1 %}
            <li class="{% if channel.children %}dropdown{% endif %} {% if (controller.active|contains(channel.url)) %}active{% endif %}">

              <a href="{{channel.url}}" 
                {% if channel.children %} class="dropdown-toggle" {% endif %}
                {% if channel.target !== null %} target="{{channel.target}}" {% endif %}>
                {{channel.title}}
              </a>
              {% if channel.children %}
              <ul class="dropdown-menu">
                {% for child in channel.children %}
                {% if child.status === 1 %}
                <li class="active">
                  <a href="{{child.url}}" {% if child.target !== null %} target="{{child.target}}"{% endif %}>{{_val.title}}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
              <span class="aline"></span>
            </li>
            {% endif %}
            {% endfor %}

          </ul>
        </nav>
      </div>

    </div>
  </header>
  <!-- /Top Nav -->

</div>
