.container-wrap {
  background-color: #fff;
}

/*------------------order-detail-----------------*/
.order-detail .extra-info {
  margin-bottom: 10px;
}
.order-detail h5.bg-info {
  line-height: 2em;
  padding-left: 5px;
}