{% extends "../common/inc/base.html" %}
{% block style %}
<link href="/static/home/css/aboutus.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <a class="margin-bottom-20 block thumbnail" href="/" title = "TSPCB" >
      <img class="img-responsive" src="/static/common/images/aboutus1.png" 
        alt="TSPCB" style="height:120px;width:100%">
    </a>
    <div class="aboutus_block">
      <div class="row">
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <h2>公司介绍</h2>
          <p>
            助芯通是一家专业的PCBA整体方案创新平台，为世界各地的客户提供一站式服务包括PCB布板、PCB生产、料件采购、PCBA组装、非标定制、供应链管理外包服务、系统集成和测试，全方位满足新兴领域中小电子企业对即时响应、缩短开发周期、竞争性产品成本、最佳预算匹配的高性能产品等多元化需求，助力客户产品快速上市。核心业务涵盖“PCB/PCBA在线报价下单、非标器件/方案定制、供应链管理外包服务”，通过全球供应链管理、企业资源规划(ERP)、精益质量管理等方面实施持续改进过程，实现最好的客户体验。
          </p>
        </div>
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <img class="img-responsive" src="/static/common/images/aboutus2.jpg" alt="TSPCB" style="width:100%">
        </div>
      </div>
    </div>
    <div class="aboutus_block">
      <div class="aboutus_content">
        <h2 class="text-center">核心业务</h2>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <img class="img-responsive" src="/static/common/images/aboutus2.jpg" alt="TSPCB" style="width:100%">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p>满足客户对PCB设计->PCB制版->元器件采购->PCBA贴片->整机组装测试的一站式需求。</p>
            <p> 提供PCB、FPC、刚挠结合板的设计、在线报价下单、快速交付；</p>
            <p>提供小批量PCBA在线报价下单、快速交付；</p>
            <p>同时提供中大批量的PCB生产、PCBA贴片、插件、手工焊接、组装、测试等服务；</p>
            <p>通过ISO9001/TS16949认证。</p>
          </div>
        </div>
      </div>
    </div>
        <div class="aboutus_block">
      <div class="row">
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <h2>公司介绍</h2>
          <p>
            助芯通是一家专业的PCBA整体方案创新平台，为世界各地的客户提供一站式服务包括PCB布板、PCB生产、料件采购、PCBA组装、非标定制、供应链管理外包服务、系统集成和测试，全方位满足新兴领域中小电子企业对即时响应、缩短开发周期、竞争性产品成本、最佳预算匹配的高性能产品等多元化需求，助力客户产品快速上市。核心业务涵盖“PCB/PCBA在线报价下单、非标器件/方案定制、供应链管理外包服务”，通过全球供应链管理、企业资源规划(ERP)、精益质量管理等方面实施持续改进过程，实现最好的客户体验。
          </p>
        </div>
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <img class="img-responsive" src="/static/common/images/aboutus2.jpg" alt="TSPCB" style="width:100%">
        </div>
      </div>
    </div>
        <div class="aboutus_block">
      <div class="row">
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <h2>公司介绍</h2>
          <p>
            助芯通是一家专业的PCBA整体方案创新平台，为世界各地的客户提供一站式服务包括PCB布板、PCB生产、料件采购、PCBA组装、非标定制、供应链管理外包服务、系统集成和测试，全方位满足新兴领域中小电子企业对即时响应、缩短开发周期、竞争性产品成本、最佳预算匹配的高性能产品等多元化需求，助力客户产品快速上市。核心业务涵盖“PCB/PCBA在线报价下单、非标器件/方案定制、供应链管理外包服务”，通过全球供应链管理、企业资源规划(ERP)、精益质量管理等方面实施持续改进过程，实现最好的客户体验。
          </p>
        </div>
        <div class="aboutus_content col-lg-6 col-md-6 col-sm-6">
          <img class="img-responsive" src="/static/common/images/aboutus2.jpg" alt="TSPCB" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{%block script%}
{%endblock%}