{% extends "../common/inc/base.html" %}
{% block style%}
<link href="/static/home/css/layout-shop.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
{%set cate = category.id|get_cate()%}
{%if category.pid !=0%}
{%column data="column",pid=category.pid%}
{%else%}
{%column data="column",cid=category.id%}
{%endif%}
<!-- 
PAGE HEADER 

CLASSES:
.page-header-xs	= 20px margins
.page-header-md	= 50px margins
.page-header-lg	= 80px margins
.page-header-xlg= 130px margins
.dark			= dark page header

.shadow-before-1 	= shadow 1 header top
.shadow-after-1 	= shadow 1 header bottom
.shadow-before-2 	= shadow 2 header top
.shadow-after-2 	= shadow 2 header bottom
.shadow-before-3 	= shadow 3 header top
.shadow-after-3 	= shadow 3 header bottom
-->
{# <section class="page-header page-header-xs">
  <div class="container">
<!--     {%if column|length>0%}
    <h1>{{category.title}}</h1>
    {%endif%} -->
    <!-- breadcrumbs -->
    <ol class="breadcrumb {%if column|length==0%} breadcrumb-inverse {%endif%}">
      <li><a href="/">首页</a></li>
      {%for val in breadcrumb %}
      {% if val.id == category.id %}
      <li class="active">{{val.title}}</li>
      {% else %}
      <li><a href="{{val.url}}">{{val.title}}</a></li>

      {% endif %}
      {% endfor %}
    </ol><!-- /breadcrumbs -->

    <!-- page tabs -->
    {%if column|length>0%}
    <ul class="page-header-tabs list-inline">
      <li {%if breadcrumb[0].id== category.id %}class="active" {%endif%}><a href="{{breadcrumb[0].url}}">全部</a></li>
      {%for val in column%}
      <li {%if val.id== category.id %}class="active" {%endif%}><a href="{{val.url}}">{{val.name}}</a></li>
      {%endfor%}
    </ul>
    {%endif%}
    <!-- /page tabs -->
  </div>
</section> #}
<!-- /PAGE HEADER -->
<!-- -->
<section>
  <div class="container">
    <!--分类信息-->
    {% include "../common/inc/sort.html" %}
    <!--/分类信息-->
    <div class="row">

      <!-- RIGHT -->
      <div class="col-lg-10 col-md-10 col-sm-10 ">

        {%if breadcrumb[0].id == category.id%}
        <!-- REVOLUTION SLIDER -->
        <div class="slider fullwidthbanner-container roundedcorners margin-bottom-0">
          <div class="fullwidthbanner" data-height="550" data-shadow="" data-navigationStyle="">
            <ul class="hide">
              {% banner data="banners", limit="5", size="2" %}
              {% for bn in banners %}
              <!-- SLIDE BANNER  -->
              <li data-transition="fade"
                  data-slotamount="7"
                  data-masterspeed="300"
                  data-saveperformance="off" >
                <img src="/static/home/images/1x1.png"
                     data-lazyload="{{bn.picture}}"
                     alt=""
                     data-bgfit="cover"
                     data-bgposition="center center"
                     data-bgrepeat="no-repeat" />
                <div class="tp-caption lft start"
                     data-x="0"
                     data-y="0"
                     data-speed="750"
                     data-start="750"
                     data-easing="easeOutExpo"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300">
                  <img src="/static/home/images/1x1.png"
                       alt=""
                       data-lazyload="/static/home/images/caption_bg.png">
                </div>

                <a class="tp-caption medium_light_white lfb start" href="/" target="_blank"
                   data-x="left" data-hoffset="70" data-y="96" data-speed="300" data-start="1200"
                   data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                   data-endelementdelay="0.1" data-endspeed="300">
                  {{bn.title|truncate(16, true)|insertFrag("<br>", 8)|safe}}
                </a>

                <div class="tp-caption block_black lfl start"
                     data-x="left" data-hoffset="70" data-y="195" data-speed="300"
                     data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none"
                     data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
                     style="padding: 1px 0">
                  {{bn.createAt|moment('YYYY-MM-DD HH:mm')}}
                </div>

                <div class="tp-caption small_light_white lfl start"
                     data-x="left" data-hoffset="70" data-y="250" data-speed="1000" data-start="1800"
                     data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                     data-endelementdelay="0.1" data-endspeed="300" >
                  {{bn.content|truncate(90, true)|insertFrag("<br>", 20)|safe}}
                </div>
              </li>
              {%endfor%}
            </ul>
            <div class="tp-bannertimer"><!-- progress bar --></div>
          </div>
        </div>
        <!-- /REVOLUTION SLIDER -->
        {%endif%}


        <!-- LIST OPTIONS -->
        {%if (pagination | safe).length > 0%}
        <div class="panel panel-default">
          <div class="panel-body padding-6">
            <div class="clearfix shop-list-options nomargin" style="height: 35px;overflow: hidden">
              <div class=" pull-right">
                {{pagination | safe}}
              </div>


              <!--<div class="options-left">-->
                <!--<select>-->
                  <!--<option value="pos_asc">默认排序 高</option>-->
                  <!--<option value="pos_desc">默认排序 低</option>-->
                  <!--<option value="name_asc">销量排序 高</option>-->
                  <!--<option value="name_desc">销量排序 低</option>-->
                  <!--<option value="price_asc">价格排序 高</option>-->
                  <!--<option value="price_desc">价格排序 低</option>-->
                <!--</select>-->

                <!--<a class="btn active fa fa-th" href="shop-4col-left.html">&lt;!&ndash; grid &ndash;&gt;</a>-->
                <!--<a class="btn fa fa-list" href="shop-1col-left.html">&lt;!&ndash; list &ndash;&gt;</a>-->
              <!--</div>-->

            </div>
          </div>
        </div>
        {%endif%}

        <!-- /LIST OPTIONS -->


        <ul class="shop-item-list1 row list-inline margin-top-20" style="margin-left:-5px;margin-right: -5px;">
          {% for item in list%}
          <!-- ITEM -->
          <li class="col-xs-6 col-lg-3 col-md-3 col-sm-3 ">
            <div class="panel panel-default">
              <div class="panel-body shop-item nomargin nopadding">
                {% set pic = item.pics|strToArray%}
                <div class="thumbnail nomargin noborder">
                  <!-- product image(s) -->
                  <a class="shop-item-image" href="{{item.name|get_url(item.id)}}" title="{{item.title}}"
                     target="_blank" style="height: 216px;overflow: hidden">
                    <img class="img-responsive" src="{{pic[0]|get_pic('m=1,w=260,h=260')}}" alt="shop first image"/>
                    {% if pic|length >1%}
                    <img class="img-responsive" src="{{pic[1]|get_pic('m=1,w=260,h=260')}}" alt="shop hover image"/>
                    {% endif %}
                  </a>
                  <!-- /product image(s) -->

                  <!-- hover buttons -->
                  <!--<div class="shop-option-over">-->
                    <!--&lt;!&ndash; replace data-item-id width the real item ID - used by js/view/demo.shop.js &ndash;&gt;-->

                    <!--<a class="btn btn-default add-wishlist" href="#" data-item-id="1" data-toggle="tooltip"-->
                       <!--title="Add To Wishlist"><i class="fa fa-heart nopadding"></i></a>-->
                    <!--<a class="btn btn-default add-compare" href="#" data-item-id="1" data-toggle="tooltip"-->
                       <!--title="Add To Compare"><i class="fa fa-bar-chart-o nopadding" data-toggle="tooltip"></i></a>-->
                  <!--</div>-->
                  <!-- /hover buttons -->
                  <!-- countdown -->
                  <!-- <div class="shop-item-counter">
                    <div class="countdown" data-from="January 31, 2018 15:03:26" data-labels="年,月,周,天,时,分,秒">
                    </div>
                  </div> -->
                  <!-- /countdown -->
                  <!-- product more info -->
                  <!-- <div class="shop-item-info">
                    <span class="label label-success">新品</span>
                    <span class="label label-danger">热卖</span>
                  </div> -->
                  <!-- /product more info -->
                </div>
              </div>
              <div class="panel-footer padding-3">
                <div class="shop-item-summary text-center">

                  {% if item.price|has_price %}
                  <!-- price -->
                  <div class="shop-item-price text-danger f-16 nomargin">
                    {% if item.price|get_price_format('2') %}<span class="line-through f-14">¥{{item.price|get_price_format('2')}}</span>{%endif%}
                    ¥{{item.price|get_price_format('1')}}
                  </div>
                  {% else %}
                  <div class="shop-item-price text-danger f-16 nomargin">
                  {% if isZh%} 需协商 {% else %} Need Negotiation {% endif %}
                </div>
                  {% endif %}
                  <!-- /price -->
                  <!-- rating -->
                  <div class="shop-item-rating-line">
                    <div class="rating rating-5 size-13"><!-- rating-0 ... rating-5 --></div>
                  </div>
                  <!-- /rating -->

                  <h2 class="text-intercept"><a class="" href="{{item.name|get_url(item.id)}}" title="{{item.title}}"
                                                target="_blank">{{item.title}}</a></h2>
                </div>
                {#
                {% set stock = item.id|getmodelfield(item.model_id,'total_stock') %}
                {% if stock == 0%}
                <!-- buttons -->
                <div class="shop-item-buttons text-center">
                  <span class="out-of-stock">已售罄</span><!-- add .clean to remove css characteres -->
                </div>
                {% endif %}
                #}
              </div>
            </div>


          </li>
          <!-- /ITEM -->
          {%endfor%}

        </ul>


        <!-- Pagination Default -->
        <!-- LIST OPTIONS -->
        {%if (pagination | safe).length > 0%}
        <div class="panel panel-default">
          <div class="panel-body padding-6">
            <div class="clearfix shop-list-options nomargin" style="height: 35px;overflow: hidden">
              <div class=" pull-right">
                {{pagination | safe}}
              </div>


              <!--<div class="options-left">-->
                <!--<select>-->
                  <!--<option value="pos_asc">默认排序 高</option>-->
                  <!--<option value="pos_desc">默认排序 低</option>-->
                  <!--<option value="name_asc">销量排序 高</option>-->
                  <!--<option value="name_desc">销量排序 低</option>-->
                  <!--<option value="price_asc">价格排序 高</option>-->
                  <!--<option value="price_desc">价格排序 低</option>-->
                <!--</select>-->

                <!--<a class="btn active fa fa-th" href="shop-4col-left.html">&lt;!&ndash; grid &ndash;&gt;</a>-->
                <!--<a class="btn fa fa-list" href="shop-1col-left.html">&lt;!&ndash; list &ndash;&gt;</a>-->
              <!--</div>-->

            </div>
          </div>
        </div>
        {%endif%}

        <!-- /LIST OPTIONS -->
        <!-- /Pagination Default -->

      </div>

      <!-- RIGHT -->
      {% include "./inc/shop_right_bar.html" %}
      <!-- /RIGHT -->
    </div>

  </div>
</section>
<!-- / -->
{% endblock %}

{% block script%}
<!-- PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/static/common/js/demo.shop.js"></script>
{% endblock %}