@import url('/static/common/plugins/jquery.steps-1.1.0/jquery.steps.css');

div.side-nav ul {
  padding-bottom: 24px;
}

div.side-nav li.list-group-item {
  padding-left: 7px;
}

div.side-nav ul > li:before {
  content: none;
}

div.side-nav ul > li i {
  margin-right: 8px;
}

/*custom bootstrap style*/
.form-group select {
  min-width: 165px;
  width: auto;
}
.form-horizontal .radio-inline {
  margin-left: 0;
  margin-right: 10px;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 10px;
}

/*custom step style*/
.wizard > .content > .body {
  position: static;
  height: auto;
}
.wizard > .content .form-inline input {
  display: inline-block;
  margin-right: 10px;
}
.wizard > .content > .body label.error {
  margin-left: 0;
}