@import url('/static/common/plugins/jquery.steps-1.1.0/jquery.steps.css');

div.side-nav ul {
  padding-bottom: 24px;
}

div.side-nav li.list-group-item {
  padding-left: 7px;
}

div.side-nav ul > li:before {
  content: none;
}

div.side-nav ul > li i {
  margin-right: 8px;
}

/*custom bootstrap style*/
.form-group select {
	min-width: 165px;
	width: auto;
}
.form-horizontal .radio-inline {
	margin-left: 0;
	margin-right: 10px;
}
/*custom step style*/
.wizard > .content > .body {
	position: static;
	height: auto;
}