.form-inline .form-group:last-chld {
  margin-left: 30px;
}
.express .col-sm-10 {
  margin-top: -3px;
}
.header {
  line-height: 27px;
}
.header .btn-wrap {
  float: right;
}
.wizard > .content > .body .address .error {
  margin-left: 10px;
}
#deliveryVal {
  padding-top: 7px;
}
.money:before {
  content: 'ï¿¥';
  display: inline;
}