<section class="panel panel-default m-b-xs">
  <header class="panel-heading">
    <span class="label bg-danger pull-right m-t-xs"></span>
    购买人信息
  </header>
  <table class="table  m-b-none">
    <thead>
    <tr>
      <th>用户名</th>
      <!--<th>姓名</th>-->
      <th>手机</th>
      <!--<th>电话</th>-->
      <th>邮箱</th>
      <!--<th>地址</th>-->

    </tr>
    </thead>
    <tbody>

    <tr>
      <td>
        {{user.username}}
      </td>
      <!--<td>{{user.real_name}}</td>-->
      <td>
        {{user.mobile}}
      </td>
      <!--<td>{{user.phone}}</td>-->
      <td>
        {{user.email}}
      </td>
      <!--<td>{{user.addr}}</td>-->


    </tr>

    </tbody>
  </table>
</section>