<section class="panel panel-default m-b-xs">
  <header class="panel-heading">
    <span class="label bg-danger pull-right m-t-xs"></span>
    订单信息
  </header>
  <table class="table m-b-none">
    <tbody>

    <tr>
      <td class="active">
        订单编号
      </td>
      <td>{{order.order_no}}
      <td class="active">
        下单时间
      </td>
      <td>{{order._create_time}}</td>
      <td class="active">
        支付方式
      </td>
      <td>{{order.payment}}</td>
    </tr>
    <tr>
      <td class="active">
        支付手续费
      </td>
      <td><span class="text-danger">{% if order.shou|formatCurrency %}{{order.shou|formatCurrency}}{% else %} 免费 {% endif%}</span>
      </td>
      <td class="active">
        配送方式
      </td>
      <td>物流</td>
      <td class="active">
        发票税金
      </td>
      <td><span class="text-danger">{% if order.taxes|formatCurrency %}{{order.taxes|formatCurrency}}{% else %} 无发票{%endif%}</span>
      </td>
      <!--<td class="active">-->
      <!--配送费用-->
      <!--</td>-->
      <!--<td><span class="text-danger">{% if order.real_freight|formatCurrency %}{{order.real_freight|formatCurrency}}{% else %} 包邮 {% endif%}</span>-->
      <!--</td>-->
    </tr>
    <!--<tr>-->
    <!--<td class="active">-->
    <!--代金券-->
    <!--</td>-->
    <!--<td><span class="text-danger">-</span></td>-->
    <!--<td class="active">-->
    <!--商品总金额-->
    <!--</td>-->
    <!--<td><span class="text-danger">{{order.real_amount|formatCurrency }}</span></td>-->
    <!--</tr>-->
    <tr>
      <td class="active">
        原订单总金额
      </td>
      <td colspan="5">
        <span class="text-danger olde_order_amount" data-value="{{olde_order_amount}}">{{olde_order_amount|formatCurrency}}</span>
        <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 注：记订单在未调价之前的总金额</span>
      </td>
    </tr>
    <tr>
      <td class="active">
        订单折扣或涨价
      </td>
      <td colspan="5">
        {% if editable %}
          <input type="text" id="adjust_amount" class=" input-sm form-control" style="width: 100px" name="adjust_amount" value="">
        {% else %}
          <span class="text-danger olde_order_amount"> {{order.adjust_amount}}</span>
        {% endif %}
        <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 要给顾客便宜100元，则输入"-100";要提高订单价格100元，则输入"100"</span>
      </td>
    </tr>
    <tr>
      <td class="active">
        调整后订单总金额
      </td>
      <td colspan="5">
        <span class="text-danger" id="order_amount">{{order.order_amount|formatCurrency}}</span>
        <span class="help-block m-b-none text-muted"><i class="fa fa-info-circle text-info"></i> 注：总金额不会小于0元</span>
      </td>
    </tr>
    <tr>
      <td class="active">
        用户备注
      </td>
      <td colspan="5">{{order.user_remark}}</td>
    </tr>
    <tr>
      <td class="active">
        管理员备注
      </td>
      <td colspan="5">{{order.admin_remark}}</td>
    </tr>
    <tr>
      <td class="active">
        调价原因
      </td>
      <td colspan="5">
        {% if editable %}
          <textarea class="form-control" placeholder="调价原因。" name="adjust_note"  data-required="true"></textarea>
        {% else %}
          {{order.adjust_note}}
        {% endif %}
      </td>
    </tr>
    </tbody>
  </table>

</section>